.activate-page {

    &__header {
      .title {margin-bottom:20px;}
      text-align: center;
    }
    &__title {

    }
    &__content {
      padding-bottom: 40px;
      min-height: 400px;
    }
    &--modifier {
      
    }
}
