// Vars from Config file
$brand_main_color: "{{ settings.brand_main_color }}";

$body_font_size: "{{ settings.body_font_size }}";
$body_font: "{{ settings.body_font | remove('Google+') | replace({'+': ' '}) }}, sans-serif";
$body_font_weight: "{{ settings.body_font_weight }}";
$body_font_size: "{{ settings.body_font_size }}";
$body_font_weight: "{{ settings.body_font_weight }}";

$heading_font: "{{ settings.heading_font | remove('Google+') | replace({'+': ' '}) }}, sans-serif";
$heading_font_size: "{{ settings.heading_font_size }}";
$heading_font_weight: "{{ settings.heading_font_weight }}";

$body_background_color: "{{ settings.body_background_color }}";
$headings_color: "{{ settings.headings_color }}";
$headings_second_color: "{{ settings.headings_second_color }}";
$body_font_color: "{{ settings.body_font_color }}";
$main_link_color: "{{ settings.main_link_color }}";
$main_link_hover_color: "{{ settings.main_link_hover_color }}";
$btn_text_color: "{{ settings.btn_text_color }}";
$btn_text_color_hover: "{{ settings.btn_text_color_hover }}";
$btn_bg_color: "{{ settings.btn_bg_color }}";
$btn_bg_color_hover: "{{ settings.btn_bg_color_hover }}";
$nav_link_text_color: "{{ settings.nav_link_text_color }}";
$nav_link_text_hover_color: "{{ settings.nav_link_text_hover_color }}";
$nav_link_text_contrast_color: "{{ settings.nav_link_text_contrast_color }}";
$nav_link_text_contrast_hover_color: "{{ settings.nav_link_text_contrast_hover_color }}";
$nav_menu_bg: "{{ settings.nav_menu_bg }}";
$nav_menu_scrolled_bg: "{{ settings.nav_menu_scrolled_bg }}";
$nav_mobile_menu_bg: "{{ settings.nav_mobile_menu_bg }}";
$navigation_top_banner_bg_color: "{{ settings.navigation_top_banner_bg_color }}";
$navigation_top_banner_bg_color_alter: "{{ settings.navigation_top_banner_bg_color_alter }}";
$navigation_top_banner_text_color: "{{ settings.navigation_top_banner_text_color }}";
$logo_contrast: "{{ settings.logo_contrast }}";
$product_bg_card: "{{ settings.product_background_card }}";
$product_compared_price_color: "{{ settings.product_compared_price_color }}";
$slide_title_font_size: "{{ settings.slide_title_font_size }}";
$slide_subtitle_font_size: "{{ settings.slide_subtitle_font_size }}";
$slide_title_color: "{{ settings.slide_title_color }}";
$slide_bg_color: "{{ settings.slide_bg_color }}";
$slide_title_color: "{{ settings.slide_title_color }}";
$slide_subtitle_color: "{{ settings.slide_subtitle_color }}";

$slide_btn_text_color: "{{ settings.slide_btn_text_color }}";
$slide_btn_text_color_hover: "{{ settings.slide_btn_text_color_hover }}";
$slide_btn_bg_color: "{{ settings.slide_btn_bg_color }}";
$slide_btn_bg_color_hover: "{{ settings.slide_btn_bg_color_hover }}";

$product_ribbon_bg: "{{ settings.product_ribbon_bg }}";
$best_collection_1_bg_image: "{{ settings.best_collection_1_bg_image }}";
$best_collection_2_bg_image: "{{ settings.best_collection_2_bg_image }}";
$best_collection_3_bg_image: "{{ settings.best_collection_3_bg_image }}";
$best_collection_4_bg_image: "{{ settings.best_collection_4_bg_image }}";

$promo_home_1_display: "{{ settings.promo_home_1_display }}";
$promo_home_1_title: "{{ settings.promo_home_1_title }}";
$promo_home_1_desc: "{{ settings.promo_home_1_desc }}";
$promo_home_1_icon: "{{ settings.promo_home_1_icon }}";
$promo_home_1_icon_name: "{{ settings.promo_home_1_icon_name }}";

$promo_home_2_display: "{{ settings.promo_home_2_display }}";
$promo_home_2_title: "{{ settings.promo_home_2_title }}";
$promo_home_2_desc: "{{ settings.promo_home_2_desc }}";
$promo_home_2_icon: "{{ settings.promo_home_2_icon }}";
$promo_home_2_icon_name: "{{ settings.promo_home_2_icon_name }}";

$promo_home_3_display: "{{ settings.promo_home_3_display }}";
$promo_home_3_title: "{{ settings.promo_home_3_title }}";
$promo_home_3_desc: "{{ settings.promo_home_3_desc }}";
$promo_home_3_icon: "{{ settings.promo_home_3_icon }}";
$promo_home_3_icon_name: "{{ settings.promo_home_3_icon_name }}";

$promo_home_color_title: "{{ settings.promo_home_color_title }}";
$promo_home_color_desc: "{{ settings.promo_home_color_desc }}";
$promo_home_color_icon: "{{ settings.promo_home_color_icon }}";

$featured_parallax_banner_one_text_color: "{{ settings.featured_parallax_banner_one_text_color }}";
$featured_parallax_banner_two_text_color: "{{ settings.featured_parallax_banner_two_text_color }}";

$footer_bg_color: "{{ settings.footer_bg_color }}";
$footer_legal_text_color: "{{ settings.footer_legal_text_color }}";
$footer_legal_bg_color: "{{ settings.footer_legal_bg_color }}";
$footer_border_color: "{{ settings.footer_border_color }}";
$footer_title_color: "{{ settings.footer_title_color }}";
$footer_text_color: "{{ settings.footer_text_color }}";

$featured_static_banner_bg_color: "{{ settings.featured_static_banner_bg_color }}";

$sidebar_bg_color: "{{ settings.sidebar_bg_color }}";
$sidebar_lines_color: "{{ settings.sidebar_lines_color }}";
$sidebar_titles_color: "{{ settings.sidebar_titles_color }}";
$sidebar_texts_color: "{{ settings.sidebar_texts_color }}";
$facebook-color: #3b5998;
$twitter-color: #55acee;
$googleplus-color: #dd4b39;
$youtube-color: #bb0000;
$instagram-color: #e95950;
$whatsapp-color: #4dc247;
$pinterest-color: #cb2027;
