// Grid
body {
  padding-top: 50px;
  font-size: $body_font_size;
  line-height: 1.6;
  background-color: $body_background_color;
  color: $body_font_color;
  @media(min-width:768px) {
    padding-top: 106px;
  }
}

.container.page {
  margin-top: 0;
  padding-bottom: 30px;
  @media(min-width: 768px) {
    margin-top: 20px;
    padding-bottom: 40px;
  }
}

body:before{
  content:"";
  height:100%;
  display:block;
}
.container {
  @media (min-width: 1600px) {
    width: 1420px;
  }
  @media (min-width: 1920px) {
    width: 1600px;
  }
}
.no-padding {
  @media (min-width: 992px) {
   padding:0;
  }
}
