.overlay {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,.25);
  z-index: -1;
}
.block_title {
  padding-bottom: 1em;
  padding-top: 1em;
}
.alert {
  border: 0;
  border-radius: 0;
}
.alert-success {
  background-color: #A5DC86;
  border-color: #A5DC86;
  color: #FFFFFF;
}
.alert-warning {
  background-color: #ffb94d;
  border-color: #ffb94d;
  color: #FFFFFF;
}
.alert-info {
  background-color: #8CD4F5;
  border-color: #8CD4F5;
  color: #ffffff;
}
.alert-danger {

  background-color: #F27474;
  border-color: #F27474;
  color: #FFFFFF;
}
.page__line {
  width: 60%;
  border-top: 1px solid #ccc;
  @media(min-width: 768px) {
    width: 70%;
  }
  @media(min-width: 992px) {
    width: 60%;
  }
  @media(min-width: 1200px) {
    width: 50%;
  }
  @media(min-width: 1900px) {
    width: 20%;
  }
}

.page__description, .page__description p {
  font-size: 18px;
  margin-bottom: 0;
  @media(min-width: 768px) {
    font-size: 20px;
  }
  @media(min-width: 992px) {
    font-size: 24px;
  }
  @media(min-width: 1200px) {
    font-size: 28px;
  }
  @media(min-width: 1900px) {
   font-size: 32px;
  }
}