body {
  font-family: $body_font, $body_font_type;
  font-size: $body_font_size;
  font-weight: $body_font_weight;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading_font, $heading_font_type;
  font-weight: $heading_font_weight;
  color: $headings_color;
}
h1,
.h1 {
  font-size: $heading_font_size;
}
.text-shadow {
  text-shadow: rgba(100, 100, 100, .4) 2px 2px 7px;
}
.block_title {
  .title {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: .6em;
    color: $headings_color;
    @media(min-width: 768px) {
      font-size: 2em;
    }
    @media(min-width: 992px) {
      font-size: 2.2em;
    }
    @media(min-width: 1200px) {
      font-size: 2.4em;
    }
    @media(min-width: 1900px) {
      font-size: 2.6em;
    }
  }
}
body.home {
  .block_title {
    .title {
      font-size: 2em;
      color: $headings_color;
      @media(min-width: 768px) {
        font-size: 2.2em;
      }
      @media(min-width: 992px) {
        font-size: 2.4em;
      }
      @media(min-width: 1200px) {
        font-size: 2.5em;
      }
      @media(min-width: 1900px) {
        font-size: 2.6em;
      }
    }
  }
}
