body {
  font-family: $body_font;
  font-size: $body_font_size;
  font-weight: $body_font_weight;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading_font;
  font-weight: $heading_font_weight;
  color: $headings_color;
}

h1, .h1 {
  font-size: $heading_font_size;
}
.text-shadow {
  text-shadow: rgba(100, 100, 100, .4) 2px 2px 7px;
}
.block_title {
  .title {
    font-size:2.2em;
    color: $brand_main_color;
    @media(min-width: 768px) {
      font-size: 2.4em;
    }
    @media(min-width: 992px) {
      font-size: 3em;
    }
    @media(min-width: 1200px) {
      font-size: 3.2em;
    }
    @media(min-width: 1900px) {
      font-size: 3.4em;
    }
  }
}

body.home {
  .block_title {
  .title {
    font-size:2em;
    color: $brand_main_color;
    @media(min-width: 768px) {
      font-size: 2.2em;
    }
    @media(min-width: 992px) {
      font-size: 2.4em;
    }
    @media(min-width: 1200px) {
      font-size: 2.6em;
    }
    @media(min-width: 1900px) {
      font-size: 2.8em;
    }
  }
}
}