.featured-banner-home {
  background-color: $body_background_color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center center;
  text-align: center;
  padding-top: 6em;
  padding-bottom: 6em;
  color: $featured_parallax_banner_one_text_color;
  margin-bottom: 30px;
  margin-top: 0;
  position: relative;
  @media(max-width:480px) {
  }
  @media(max-width:767px) {
  }
  @media(min-width:768px) {
  }
  @media(min-width:992px) {
    background-position: 0 0;
    background-attachment: fixed;
  }
  @media(min-width:1200px) {
    
  }
  @media(min-width : 1680px) {
    
  }
  @media(min-width : 1920px) {
    
  }
  &__content {
    position: relative;
     overflow-x: hidden;
    z-index: 99;
  }
  &__title {
    font-size: 2.4em;
    color: $featured_parallax_banner_one_text_color;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    @media(max-width:767px) {
      font-size: 1.6em;
    }
  }
  &__subtitle {
    font-size: 5em;
    color: $featured_parallax_banner_one_text_color;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    @media(max-width:767px) {
      font-size: 3.6em;
    }
  }
  &__intro {
    font-size: 1.8em;
    margin-bottom: 40px;
  }
  &--btn-banner {
    color: $slide_btn_text_color;
    background-color: $slide_btn_bg_color;
    border-color: $slide_btn_bg_color;
  }
  &--btn-banner:hover {
    color: $slide_btn_text_color_hover;
    border-color: $slide_btn_bg_color_hover;
    background-color: $slide_btn_bg_color_hover;
  }
  &--btn-banner:focus {
    color: $slide_btn_text_color_hover;
    border-color: $slide_btn_bg_color_hover;
    background-color: $slide_btn_bg_color_hover;
  }
  &--modifier {
    
  }
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

}
/*==========  Titles and intros ==========*/

/* Default */
@media only screen and (max-width : 320px) {
  .featured-banner-home__title {font-size:100%; line-height:1;}
  .featured-banner-home__subtitle {font-size:180%; line-height:1.2; padding-left: 20px; padding-right:20px;}
  .featured-banner-home__intro {font-size:120%; line-height:1.2; padding-left: 20px; padding-right:20px;}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .featured-banner-home__title {font-size:140%; line-height:1;}
  .featured-banner-home__subtitle {font-size:220%; line-height:1.2; padding-left: 20px; padding-right:20px;}
  .featured-banner-home__intro {font-size:120%; line-height:1.2; padding-left: 20px; padding-right:20px;}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .featured-banner-home--btn-banner { font-size:1em; padding: .8em 1.8em;}
}