.featured-best-collections {
  margin-bottom: 30px;
  margin-top: 0;
  @media(min-width: 1200px) {
    margin-bottom: 60px;
  }
  &__card {
    background-color: $product_bg_card;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    margin-top: 0;
    position: relative;
  }
  &__header {
    text-align: center;
  }
  &__content {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  &__outher {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
  }
  &__inner {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, .2);
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
  }
  &__inner:hover {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
  }
  &__title {
    color: white;
    font-weight: bold;
    margin-top: 0;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
  }
  &__text {
    margin: 0;
  }
  &__image {
    height: auto;
    width: 100%;
    display: block;
  }
}
