.first-navigation {
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    float: left;
    display: inline-block;
    @media(max-width: 767px) {
      display: block;
      width: 100%;
    }
  }
  li a:hover {
    text-decoration: none;
  }
  clear: right;
  .navigation__link {
    position: relative;
    padding: 1.2em 1em;
    display: block;
    width: 100%;
    @media (max-width: 767px) {
      color: $nav_link_text_color;
      padding: 1.2em 1em;
      border-bottom: 1px solid rgba(100,100,100,.1);
    }
  }
  .navigation__link:hover {
    color: $nav_link_text_hover_color;
    @media (max-width: 767px) {
      background-color: $nav_menu_scrolled_bg;
    }
  }
  .submenu-toggle {
    width: auto;
    padding: 1.2em 1em 1.2em 4px;
    text-align: center;
    color: $nav_link_text_color;
    float: left;
    @media (max-width: 767px) {
      padding: 1.2em 1em;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .submenu-toggle:hover, .submenu-toggle:focus {
    @media (max-width: 767px) {
      background-color: $nav_menu_scrolled_bg;
    }
  }
  .subnav .has-children .submenu-toggle {
    position: absolute;
    top: 0;
    right: 0;
  }
  .has-children {
    position: relative;
    font-size: 1em;
    .sub__link {
      color: $nav_link_text_color;
      @media (max-width: 767px) {
        border-bottom: 1px solid rgba(100,100,100,.1);
      }
    }
    .sub__link:hover {
      color: $nav_link_text_hover_color;
      @media (max-width: 767px) {
        background-color: $nav_menu_scrolled_bg;
      }
    }
    .first-navigation .navigation__link {
      width: auto;
    }
    .subnav {
      min-width: 200px;
      display: none;
      background-color: $nav_menu_bg;
      @media(min-width: 768px) {
        position: absolute;
        margin-top: 0 !important;
        width: 100%;
        min-width: 250px;
        -webkit-box-shadow: 0px 4px 14px 0 rgba(100, 100, 100, 0.15);
        -moz-box-shadow: 0px 4px 14px 0 rgba(100, 100, 100, 0.15);
        box-shadow: 0px 4px 14px 0 rgba(100, 100, 100, 0.15);
        top: 100%;
      }
      li {
        width: 100%;
      }
      .navigation__link::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $nav_menu_scrolled_bg;
        transform-origin: left;
        transition: width 0.35s ease;
        z-index: -1;
      }
      .navigation__link:hover::before {
        width: 100%;
      }
    }
    >.subnav.active {
      @media(max-width: 767px) {
        position: relative;
      }
    }
    >.subnav.active {
      display: block;
      position: relative;
      box-shadow: none;
    }
    .subnav.active .has-children .subnav.active {
      position: relative;
      left: 0%;
      top: 0;
      @media(max-width: 767px) {
        position: relative;
        left: auto;
      }
    }
    .subnav.last.active {
      right: 0;
      .has-children {
        .subnav.active {
          position: absolute;
          left: -100%;
          top: 0;
          @media(max-width: 767px) {
            position: relative;
            left: auto;
          }
        }
      }
    }
  }
  // First parent link
  >.has-children {
    @media(min-width: 768px) {
      .sub__link {
        float: left;
        padding: 1.2em 0 1.2em 1em;
      }
      >.subnav {
        border-top: 4px solid $nav_link_text_hover_color;
      }
      >.subnav.last {
        right: 0;
      }
      .subnav.active .has-children .subnav.active {
        display: block;
        position: relative;
      }
    }
  }
}
.nav.navbar-nav.navbar-right.first-navigation > .has-children:hover > .subnav {
  @media(min-width: 768px){
    display: block;
  }
}
.navbar-toggle {
  background-color: transparent;
  color: $nav_link_text_color;
  border-radius: 0;
  padding: 10px 8px;
  margin-bottom: 0;
  margin-top: 0;
  .icon-bar {
    height: 5px;
    background-color: $nav_link_text_color;
  }
  .icon-bar+.icon-bar {
    margin-top: 5px;
  }
}
.navbar-toggle:hover {
  background-color: transparent;
  .icon-bar {
    background-color: $nav_link_text_hover_color;
  }
}
.navbar-collapse {
  max-height: 100vh;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  @media(max-width: 767px) {
    background-color: $nav_mobile_menu_bg;
  }
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  height: auto;
  max-height: 100vh;
}
