.second-navigation {
  margin-right: 0;
  text-align: right;
  min-width: 300px;
  li {
    float: right;
  }
    .second-navigation__link {
      padding: 4px 1em 0 .8em;
      font-size: 12px;
      font-weight: bold;
    }
    &__icon {
    }
    &__qty {
      font-size: 11px;
    }
    &--active {
      color: $brand_main_color;
      i {
        color: $brand_main_color;
      }
    }
    &--nonactive {
      line-height: 2;
    }
    .navigation__link.second-navigation__link.second-navigation--nonactive:hover {
      color: $nav_link_text_color;
    }
}
