.social-share {
  .social-sharing {
    a.btn {
      margin-bottom: 2px;
      -webkit-filter: brightness(95%);
      /* Safari 6.0 - 9.0 */
      filter: brightness(95%);
      i.mdi {
        font-size: 12px;
        margin-right: 5px;
      }
    }
    .btn:hover {
      -webkit-filter: brightness(100%);
      /* Safari 6.0 - 9.0 */
      filter: brightness(100%);
    }
  }
}
.share-facebook {
  color: #ffffff;
  background-color: $facebook-color !important;
  border-color: $facebook-color !important;
}
.share-twitter {
  color: #ffffff;
  background-color: $twitter-color !important;
  border-color: $twitter-color !important;
}
.share-pinterest {
  color: #ffffff;
  background-color: $pinterest-color !important;
  border-color: $pinterest-color !important;
}
.share-google {
  color: #ffffff;
  background-color: $googleplus-color !important;
  border-color: $googleplus-color !important;
}
