{% extends 'layout.twig' %}

{% block body %}
<div class="container page simple-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="simple-page__header block_title">
        <h1 class="simple-page__title title">{{ page.title }}</h1>
        <hr class="page__line">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 simple-page__content">
      {{ page.content }}
    </div>
  </div>
</div>

{% endblock %}
