<div class="ajaxcart">
  <div class="container-fluid">
    <div class="row">
      <div class="ajaxcart__content">
        <div class="col-xs-4">
          <img class="img-responsive ajaxcart__image" src="">
        </div>
        <div class="col-xs-8 ajaxcart__description">
          <p class="ajaxcart__caption"></p>
          <p class="ajaxcart__caption_variant"></p>
          <p class="ajaxcart__caption_alert"><span class="label label-danger hidden"></span></p>
          <hr>
          <p class="ajaxcart__price"><strong></strong></p>
          <hr>
          <div class="ajaxcart__resume">
            <p class="ajaxcart__number-items"></p>
          </div>
        </div>
        <div class="col-xs-12 text-right"> <a class="btn btn-xs btn-primary close-ajax-cart">Cerrar</a> <a href="/carrito" class="btn btn-xs btn-primary">Ver carrito</a></div>
      </div>
    </div>
  </div>
</div>
