{% set promos = [] %}
{% for i in 1..3 %}
  {% set promo = 'featured_promos_home_' ~ i %}
  {% if settings[promo] and settings[promo] is defined %}
    {% set promos = promos | merge(['promo_home_' ~ i ]) %}
  {% endif %}

{% endfor %}
{% set count = promos.length %}
{% if settings.featured_promos_home and (settings.featured_promos_home_1 or settings.featured_promos_home_2 or settings.featured_promos_home_3) %}
<div class="featured-promos-home">
  <div class="container">
    <div class="row">
    {% for promo in promos %}
      {% if promos | length == 1 %}
         <div class="col-xs-12">
      {% elseif promos | length == 2 %}
         <div class="col-xs-12 col-sm-6">
      {% else  %}
         <div class="col-xs-12 col-sm-4">
      {% endif %}
        <div class="featured-promos-home__content {% if loop.last %} no-line-dotted {% endif %}">
          <div class="featured-promos-home__img-icon">
            <i class="mdi mdi-{{ settings[promo~'_icon_name'] }} mdi-48px featured-promos-home--icon-color"></i>
          </div>
          <h4 class="featured-promos-home__title">{{ settings[promo~'_title'] }}</h4>
          <p class="featured-promos-home__desc">{{ settings[promo~'_desc'] }}</p>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>
</div>
{% endif %}


